<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>Karwt | The Next Generation Ecommerce Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap Css -->
    <link href="/css/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />

    <!-- Icons Css -->
    <link herf="/assets/css/icons.min.css" rel="stylesheet" />
    <!-- App Css-->
    <link href="/css/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css"
        integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/loader.css">
    <script src="/js/loader.js"></script>
</head>


<body onload="newloader()" data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="colored"> -->
    <div id="loader"></div>
    <!-- Begin page -->
    <div id="loaderpage" style="display: none">
        <div id="layout-wrapper">
            <%-include('header')-%>
                <!-- ========== Left Sidebar Start ========== -->
                <div class="vertical-menu">

                    <div data-simplebar class="h-100">

                        <!--- Sidemenu -->
                        <%-include('sidebar')-%>
                            <!-- Sidebar -->
                    </div>
                </div>
                <!-- Left Sidebar End -->



                <!-- ============================================================== -->
                <!-- Start right Content here -->
                <!-- ============================================================== -->
                <div class="main-content">
                    <div class="page-content">
                        <div class="container-fluid">

                            <!-- start page title -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="page-title-box">
                                        <h4>Dashboard</h4>
                                        <ol class="breadcrumb m-0">

                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a>
                                            </li>
                                            <li class="breadcrumb-item active">Dashboard</li>
                                        </ol>
                                    </div>
                                </div>

                            </div>
                            <!-- end page title -->

                            <div class="row">
                                <div class="col-xl-3 col-sm-6">
                                    <div class="card mini-stat bg-primary">
                                        <div class="card-body mini-stat-img">
                                            <div class="mini-stat-icon">
                                                <i class="mdi mdi-cube-outline float-end"></i>
                                            </div>
                                            <div class="text-white">
                                                <h6 class="text-uppercase mb-3 font-size-16 text-white">Total Registered
                                                    Users</h6>
                                                <h2 class="mb-4 text-white">
                                                    <%-totalUsers%>
                                                </h2>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6">
                                    <div class="card mini-stat bg-primary">
                                        <div class="card-body mini-stat-img">
                                            <div class="mini-stat-icon">
                                                <i class="mdi mdi-buffer float-end"></i>
                                            </div>
                                            <div class="text-white">
                                                <h6 class="text-uppercase mb-3 font-size-16 text-white">Total Registered
                                                    Vendors</h6>
                                                <h2 class="mb-4 text-white">
                                                    <%-totalVendor%>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6">
                                    <div class="card mini-stat bg-primary">
                                        <div class="card-body mini-stat-img">
                                            <div class="mini-stat-icon">
                                                <i class="mdi mdi-tag-text-outline float-end"></i>
                                            </div>
                                            <div class="text-white">
                                                <h6 class="text-uppercase mb-3 font-size-16 text-white">Total User
                                                    Referal
                                                    Urls</h6>
                                                <h2 class="mb-4 text-white">
                                                    <%-totalUsers%>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6">
                                    <div class="card mini-stat bg-primary">
                                        <div class="card-body mini-stat-img">
                                            <div class="mini-stat-icon">
                                                <i class="mdi mdi-briefcase-check float-end"></i>
                                            </div>
                                            <div class="text-white">
                                                <h6 class="text-uppercase mb-3 font-size-16 text-white">Total Registered
                                                    today</h6>
                                                <h2 class="mb-4 text-white">
                                                    <%- todayRegistered %>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->

                            <div class="row">

                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title mb-4">DAILY USERS CHART</h4>



                                            <canvas id="myChart"></canvas>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3">

                                </div>

                            </div>

                            <!-- end row -->


                        </div>
                        <!-- container-fluid -->
                    </div>
                    <!-- End Page-content -->

                    <%-include('footer')-%>
                </div>
                <!-- end main content-->

        </div>
      
    
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/assets/libs/jquery/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/assets/libs/node-waves/waves.min.js"></script>
    <script src="/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>


    <script src="/assets/js/app.js"></script>
    <script src="/js/profile.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>





        var ctx = document.getElementById('myChart').getContext('2d');

        $.ajax({
            url: '/admin/userChart',
            method: 'get',
            success: function (res) {
console.log(res)
                var lebel = []
                var dt = []
                res[0].forEach(e => {
                    lebel.push(e.date)
                    dt.push(e.counted_leads)
                });

               
                var dt1 = []
                res[1].forEach(e => {
                   
                    dt1.push(e.counted_leads)
                });
                console.log(dt)
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [...lebel],
                        datasets: [{
                            label: 'No. of Users',
                            data: [...dt],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        },
                        {
                            label: 'No. of Vendors',
                            data: [...dt1],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }
                    ]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            }
        })



    </script>
</body>


<!-- Mirrored from themesbrand.com/lexa/layouts/purple/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Apr 2021 13:20:47 GMT -->

</html>